<footer>
  <small>
    <!--Esto que lees es un meta footer, un footer que habla de si mismo porque está en plena
    crisis existencial. Ni siquiera puede disfrutar de mostrar al lector
    el año en el que estamos, o aquello de "Hecho con ❤️ por <a href="https://twitter.com/zenekezene">@zenekezene</a>".
    -->
  </small>
</footer>
