---
layout: layouts/base.njk
section: post
---

<article>
  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}

</article>

<nav>
  <a href="{{ '/' | url }}">← Volver</a>
</nav>
